.container {
  position: relative;
  width: 20%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 89.2%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 120%;
  padding: 5%;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay2 {
  position: absolute; 
  top: 0; 
  color: #f1f1f1; 
  width: 89.3%;
  transition: .5s ease;
  opacity:0;
  color: red;
  font-size: 300%;
  padding: 3%;
  text-align: right;
}

.container:hover .overlay2 {
  opacity: 1;
}

.overlayasia {
  position: absolute; 
  top: 0; 
  color: #f1f1f1; 
  width: 89.3%;
  transition: .5s ease;
  opacity:0;
  color: red;
  font-size: 300%;
  padding: 3%;
  text-align: right;
}

.container:hover .overlayasia {
  opacity: 1;
}

.overlayeurope {
  position: absolute; 
  top: 0; 
  color: #f1f1f1; 
  width: 89.3%;
  transition: .5s ease;
  opacity:0;
  color: yellow;
  font-size: 300%;
  padding: 3%;
  text-align: right;
}

.container:hover .overlayeurope {
  opacity: 1;
}

.overlayusa {
  position: absolute; 
  top: 0; 
  color: #f1f1f1; 
  width: 89.3%;
  transition: .5s ease;
  opacity:0;
  color: blue;
  font-size: 300%;
  padding: 3%;
  text-align: right;
}

.container:hover .overlayusa {
  opacity: 1;
}

.singleimage {
  display: block;
  width: 99.9%;
  height: auto;
}

#greatwheel {
  width: 30%;
  height: auto;
}

.singleimagecontainer {
  position: relative;
  width: 200%;
  max-width: 65%;
  margin: 0 auto;
}

.singleimageoverlay, #fbappetizerdescription {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 93.95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 80%;
  padding: 3%;
  text-align: center;
  margin: 0 auto;
}

.singleimagecontainer:hover .singleimageoverlay {
  opacity: 1;
}

.singleimagecontainer:hover #fbappetizerdescription {
  opacity: 1;
}

.rotatedimage {
  transform: rotate(180deg);
  display: block;
  width: 99.9%
  height: auto;
}
