<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <title>{{ page.title }} | @CarissaEats</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/cssfiles/responsive.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/utr5oup.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <button id="myBtn" title="Go to top">&uarr;</button>
    <a href="{{site.url}}"><img src="/assets/images/logo.JPG" height="200px" class="logo"></a>
    <div class="flex-container">
      <div class="flex-item-nav">
        <a href="/jerseyeats" class="nounderline">
          <img src="/assets/images/jerseyeats/tsukemenvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/nyceats" class="nounderline">
          <img src="/assets/images/nyceats/kopitiamkayatoastvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/beyond" class="nounderline">
          <img src="/assets/images/beyond/friedmilkvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/recipes" class="nounderline">
          <img src="/assets/images/recipes/dumplingsvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/stories" class="nounderline">
          <img src="/assets/images/stories/favoritefoodsvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/orlandoeats" class="nounderline">
          <img src="/assets/images/orlandoeats/sisigvectorart.png" height="250px" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/losangeleseats" class="nounderline">
          <img src="/assets/images/beyond/losangeles/okonomiyakivectorart.png" height="250px" class="image">
        </a>  
      </div>
      <div class="flex-item-nav">
        <a href="/aboutme" class="nounderline">
          <img src="/assets/images/jerseyeats/duckkingvectorart.png" height="250px" class="image">
        </a>
      </div>
    </div>
    <h1>{{ page.title | escape }}</h1>
    <div class="blogposts_aboutme">
      <h6>
        Pictures are all pre-pandemic or from take-out my dad picked up. Please continue to wear a mask and social distance!
      </h6>
      {{ content }}
    
      {% assign category = page.name | remove: ".md" %}
    
      {%- if site.posts.size > 0 -%}
        {%- for post in site.categories[category] -%}
          {% assign content = post.content | strip_newlines %}
          <h2 style="display:inline;">
            <a class="nounderline" href="{{ post.url | relative_url }}">                     
              {{ post.title | escape }}
            </a>
          </h2>
          <p>
            <div class="flex-container">
              <div class="flex-item">
                <a href="{{ post.url | relative_url }}">
                  <img src="{{ post.image }}" class="image">
                </a>
              </div>
              <div class="flex-item">
                {%- assign overlay = post.overlay -%}
                {%- assign overlay2 = post.overlay2 -%}
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <div class="excerpt">
                  <strong>{{ post.date | date: date_format }}&nbsp;—</strong>
                  {{ post.content | strip_html | remove: overlay | remove: overlay2 | truncatewords: 58 }}
                </div>
              </div>
            </div>
          </p>
          <br>
        {%- endfor -%}
      {%- endif -%}
    </div>
    <footer>
        &copy; 2021 by <a href="https://www.instagram.com/carissaeats/" class="nounderline" target=“_blank”>@CarissaEats</a>
        <a href="https://www.instagram.com/carissaeats/" class="fa fa-instagram" target=“_blank”></a>    
    </footer>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>