<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <title>{{ page.title }} | @CarissaEats</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/cssfiles/responsive.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/utr5oup.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
    <a href="{{site.url}}"><img src="/assets/images/logo.JPG" height="200px" class="logo"></a>
    <div class="topnav" id="myTopnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      <a href="{{site.url}}">HOME</a>
      <div style="display:inline" class="dropdown">
        <button class="dropbtn" onclick="toggleDrop()">WHERE TO EAT &darr;
        </button>
        <div class="dropdown-content" id="dropdown-content">
          <div class="dropcontent"><a href="/jerseyeats.html">JERSEY&nbspEATS</a></div>
          <div class="dropcontent"><a href="/nyceats.html">NYC&nbspEATS</a></div>
          <div class="dropcontent"><a href="/beyond.html">BEYOND...</a></div>
        </div>
      </div>
      <div style="display:inline" class="dropdown">
        <button class="dropbtn" onclick="toggleDrop()">EXTRAS! &darr;
        </button>
        <div class="dropdown-content" id="dropdown-content">
          <div class="dropcontent"><a href="/recipes.html">RECIPES!</a></div>
          <div class="dropcontent"><a href="/stories.html">STORIES</a></div>
        </div>
      </div>
      <div class="more">
        <a href="/jerseyeats.html">JERSEY&nbspEATS</a>      
        <a href="/nyceats.html">NYC&nbspEATS</a>
        <a href="/beyond.html">BEYOND...</a>
        <a href="/recipes.html">RECIPES!</a>
        <a href="/stories.html">STORIES</a>  
      </div>
      <a href="/aboutme.html">ABOUT&nbspME</a>
    </div>
    <h1>{{ page.title | escape }}</h1>
    <div class="blogposts_aboutme">
      <h6>
        Pictures are all pre-pandemic or from take-out my dad picked up. We've been staying at home since March, with contact 
        being limited to my dad picking up groceries or take-out. Please wear a mask and social distance <em>if</em> you choose to 
        go out for leisure!
      </h6>
      {{ content }}
    
      {% assign category = page.name | remove: ".md" %}
    
      {%- if site.posts.size > 0 -%}
        {%- for post in site.categories[category] -%}
          {% assign content = post.content | strip_newlines %}
          <h2 style="display:inline;">
            <a class="nounderline" href="{{ post.url | relative_url }}">                     
              {{ post.title | escape }}
            </a>
          </h2>
          <p>
            <div class="flex-container">
              <div class="flex-item">
                <a href="{{ post.url | relative_url }}">
                  <img src="{{ post.image }}" class="image">
                </a>
              </div>
              <div class="flex-item">
                {%- assign overlay = post.overlay -%}
                {%- assign overlay2 = post.overlay2 -%}
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <div class="excerpt">
                  <strong>{{ post.date | date: date_format }}&nbsp;—</strong>
                  {{ post.content | strip_html | remove: overlay | remove: overlay2 | truncatewords: 58 }}
                </div>
              </div>
            </div>
          </p>
          <br>
        {%- endfor -%}
      {%- endif -%}
    </div>
    <footer>
        &copy; 2021 by <a href="https://www.instagram.com/carissaeats/" class="nounderline" target=“_blank”>@CarissaEats</a>
        <a href="https://www.instagram.com/carissaeats/" class="fa fa-instagram" target=“_blank”></a>    
    </footer>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>