<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <title>{{ page.title }} | @CarissaEats</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/utr5oup.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <button id="myBtn" title="Go to top">&uarr;</button>
    <a href="{{site.url}}"><img src="/assets/images/logo.svg" height="200px" class="logo"></a>
    <div class="flex-container">
      <div class="flex-item-nav">
        <a href="/jerseyeats" class="nounderline">
          <img src="/assets/images/vectorart/njvectorart.svg" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/nyceats" class="nounderline">
          <img src="/assets/images/vectorart/nycvectorart.svg" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/orlandoeats" class="nounderline">
          <img src="/assets/images/vectorart/orlandovectorart.svg" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/beyond" class="nounderline">
          <img src="/assets/images/vectorart/beyondvectorart.svg" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/losangeleseats" class="nounderline">
          <img src="/assets/images/vectorart/lavectorart.svg" class="image">
        </a>  
      </div>
      <div class="flex-item-nav">
        <a href="/stories" class="nounderline">
          <img src="/assets/images/vectorart/storiesvectorart.svg" class="image">
        </a>
      </div>      
      <div class="flex-item-nav">
        <a href="/recipes" class="nounderline">
          <img src="/assets/images/vectorart/recipesvectorart.svg" class="image">
        </a>
      </div>
      <div class="flex-item-nav">
        <a href="/aboutme" class="nounderline">
          <img src="/assets/images/vectorart/aboutmevectorart.svg" class="image">
        </a>
      </div>
    </div>
    <h1>{{ page.title | escape }}</h1>
    <div class="blogposts_aboutme">
      {{ content }}
    
      {% assign category = page.name | remove: ".md" %}
    
      {%- if site.posts.size > 0 -%}
        {%- for post in site.categories[category] -%}
          {% assign content = post.content | strip_newlines %}
          <div class="page">
            <h2>
              <a class="nounderline" href="{{ post.url | relative_url }}">                     
                {{ post.title | escape }}
              </a>
            </h2>
            <p>
              <a href="{{ post.url | relative_url }}">
                <img src="{{ post.image }}" class="image">
              </a>
              <br>
              {%- assign overlay = post.overlay -%}
              {%- assign overlay2 = post.overlay2 -%}
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <strong>{{ post.date | date: date_format }}&nbsp;—</strong>
                {{ post.content | strip_html | remove: overlay | remove: overlay2 | truncatewords: 58 }}
            </p>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
    <br>
    <footer>
        &copy; 2022 by <a href="https://www.instagram.com/carissaeats/" class="nounderline" target=“_blank”>@CarissaEats</a>
        <a href="https://www.instagram.com/carissaeats/" class="fa fa-instagram" target=“_blank”></a>
        <a href="https://www.facebook.com/carissaeats" class="fa fa-facebook" target=“_blank”></a>
        <a href="https://www.pinterest.com/carissaeats" class="fa fa-pinterest" target=“_blank”></a>
    </footer>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>