<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}" />
    {% if page.categories[0] == 'nyceats' %}
      <title>{{ page.title }} | NYC EATS | @CarissaEats</title>
    {% elsif page.categories[0] == 'jerseyeats' %}
      <title>{{ page.title }} | Jersey Eats | @CarissaEats</title>
    {% elsif page.categories[0] == 'beyond' %}
      <title>{{ page.title }} | Beyond... | @CarissaEats</title>
    {% elsif page.categories[0] == 'recipes' %}
      <title>{{ page.title }} | Recipes | @CarissaEats</title>
    {% elsif page.categories[0] == 'stories' %}
      <title>{{ page.title }} | Stories | @CarissaEats</title>      
    {%- else -%}
      <title>{{ page.title }} | @CarissaEats</title>
    {%- endif -%}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/cssfiles/responsive.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/utr5oup.css">
  </head>
  <body>
    <a href="{{site.url}}"><img src="/assets/images/logo.JPG" height="200px" class="logo"></a>
    <div class="topnav" id="myTopnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      <a href="{{site.url}}">HOME</a>
      <div style="display:inline" class="dropdown">
        <button class="dropbtn" onclick="toggleDrop()">WHERE TO EAT &darr;
        </button>
        <div class="dropdown-content" id="dropdown-content">
          <div class="dropcontent"><a href="/jerseyeats.html">JERSEY&nbspEATS</a></div>
          <div class="dropcontent"><a href="/nyceats.html">NYC&nbspEATS</a></div>
          <div class="dropcontent"><a href="/beyond.html">BEYOND...</a></div>
        </div>
      </div>
      <div style="display:inline" class="dropdown">
        <button class="dropbtn" onclick="toggleDrop()">EXTRAS! &darr;
        </button>
        <div class="dropdown-content" id="dropdown-content">
          <div class="dropcontent"><a href="/recipes.html">RECIPES!</a></div>
          <div class="dropcontent"><a href="/stories.html">STORIES</a></div>
        </div>
      </div>
      <div class="more">
        <a href="/jerseyeats.html">JERSEY&nbspEATS</a>      
        <a href="/nyceats.html">NYC&nbspEATS</a>
        <a href="/beyond.html">BEYOND...</a>
        <a href="/recipes.html">RECIPES!</a>
        <a href="/stories.html">STORIES</a>  
      </div>
      <a href="/aboutme.html">ABOUT&nbspME</a>
    </div>
    <h1>Welcome to <a href="https://www.instagram.com/carissaeats/" target="_blank" class="nounderline">@CarissaEats</a>!</h1>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
    {% if page.directorytitle %}
      {% if page.categories[0] == 'nyceats' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/nyceats.html" class="directory">NYC Eats</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.directorytitle }}</span>    
        </div>
      {% elsif page.categories[0] == 'jerseyeats' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/jerseyeats.html" class="directory">Jersey Eats</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.directorytitle }}</span>
        </div>
      {% elsif page.categories[0] == 'beyond' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/beyond.html" class="directory">Beyond...</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.directorytitle }}</span>
        </div>  
      {% elsif page.categories[0] == 'recipes' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/recipes.html" class="directory">Recipes</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.directorytitle }}</span>
        </div>
      {% elsif page.categories[0] == 'stories' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/stories.html" class="directory">Stories</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.directorytitle }}</span>
        </div>         
      {%- endif -%}        
    {% else %}
      {% if page.categories[0] == 'nyceats' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/nyceats.html" class="directory">NYC Eats</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.title }}</span>    
        </div>
      {% elsif page.categories[0] == 'jerseyeats' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/jerseyeats.html" class="directory">Jersey Eats</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.title }}</span>
        </div>
      {% elsif page.categories[0] == 'beyond' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/beyond.html" class="directory">Beyond...</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.title }}</span>
        </div>
      {% elsif page.categories[0] == 'recipes' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/recipes.html" class="directory">Recipes</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.title }}</span>
        </div>
      {% elsif page.categories[0] == 'stories' %}
        <div class="directory">
          <a href="{{site.url}}" class="directory">Home</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><a href="/stories.html" class="directory">Stories</a><span style="color:grey;font-weight:normal">&nbsp;&nbsp;&nbsp;<&nbsp;&nbsp;&nbsp;</span><span style="color:grey;font-weight:bold" class="directory">{{ page.title }}</span>
        </div>         
      {%- endif -%}
    {%- endif -%}
    <p>
      <div class="blogposts_aboutme">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% if page.directorytitle %}
          <h3 style="display:inline;">{{ page.directorytitle }}&nbsp;</h3>
        {% else %}
          <h3 style="display:inline;">{{ page.title }}&nbsp;</h3>
        {%- endif -%}
        <span class="post-meta">{{ page.date | date: date_format }}</span>
        <p>{{ content }}</p>
        <p>See you soon,</p>
        <p>Carissa 😊</p>
        <h6>If you have any questions, comments, or recommendations, please message <a href="https://www.instagram.com/carissaeats/" 
          class="nounderline" target=“_blank”>@CarissaEats</a> on Instagram or email <a href="mailto:carissaeats@yahoo.com" 
          class="nounderline" target=“_blank”>carissaeats@yahoo.com</a>!
        </h6>
        <div class="post-nav">
          <div>
            {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="nounderline">
              {{page.previous.title}}
              <div class="bottomnav">
                &nbsp;&larr;
                {{ page.previous.date | date: date_format }}&nbsp;
                <div>
                  {% if page.previous.categories[0] == 'nyceats' %}
                    NYC Eats
                  {% elsif page.previous.categories[0] == 'jerseyeats' %}
                    Jersey Eats
                  {% elsif page.previous.categories[0] == 'beyond' %}
                    Beyond...
                  {% elsif page.previous.categories[0] == 'recipes' %}
                    Recipes
                  {% elsif page.previous.categories[0] == 'stories' %}
                    Stories  
                  {%- endif -%}
                </div>
              </div>
            </a>
            {% endif %}
          </div>
          <div class="post-nav-next">
            {% if page.next.url %}
            <a href="{{page.next.url}}" class="nounderline">
              {{page.next.title}}
              <div class="bottomnav">
                {{ page.next.date | date: date_format }}&nbsp;&rarr;
                <div>
                  {% if page.next.categories[0] == 'nyceats' %}
                    NYC Eats
                  {% elsif page.next.categories[0] == 'jerseyeats' %}
                    Jersey Eats
                  {% elsif page.next.categories[0] == 'beyond' %}
                    Beyond...
                  {% elsif page.next.categories[0] == 'recipes' %}
                    Recipes
                  {% elsif page.next.categories[0] == 'stories' %}
                    Stories                  
                  {%- endif -%}
                </div>
              </div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </p>
    <footer>
        &copy; 2020 by <a href="https://www.instagram.com/carissaeats/" class="nounderline" target=“_blank”>@CarissaEats</a>
        <a href="https://www.instagram.com/carissaeats/" class="fa fa-instagram" target=“_blank”></a>    
    </footer>
    {% if page.title == 'Seattle' %}
      <script type="text/javascript" src="{{site.baseurl}}/assets/js/seattlescript.js"></script>
    {% elsif page.title == 'Los Angeles' %}
      <script type="text/javascript" src="{{site.baseurl}}/assets/js/caliscript.js"></script>  
    {% elsif page.title == 'New Orleans' %}
      <script type="text/javascript" src="{{site.baseurl}}/assets/js/nolascript.js"></script>
    {% elsif page.title == 'Summer in Asia' %}
      <script type="text/javascript" src="{{site.baseurl}}/assets/js/asiascript.js"></script>        
    {%- endif -%}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>